.tree-wrapper {
  width: 30vw;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.tree-content {
  min-width: max-content;
  height: 98%;
}

.tree-root {
  flex: 1;
  min-width: 0;
}

.tree-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
